.clear {
	clear: both;
}

a {
	text-decoration: none;
}

img {
	border: 0;
}

a:hover
{
	text-decoration: none;
}

html, body, h1, h2, h3, h4, h5, h6, ul, .block ul {
	margin: 0;
	padding: 0;
}

ul, .block ul, li, .item-list ul li
{
	list-style: none outside none;
}

body
{
	font-family: Arial, Helvetica, Georgia, Sans-serif;
	font-size: 0.75em;
	text-align: center;
	color: #58585a;
	background: #f1f1f1 url(images/arrow-big-2.png) no-repeat center 0;
}

#wrapper {
	width: 960px;
	margin: 20px auto;
	text-align: left;
}

#leftCol, #nav, #main, #hpLinks, #rightCol, #page-front #contentWrap, #hpLinks {
	-moz-box-shadow: 8px 8px 10px #d4d4d5;
	-webkit-box-shadow: 8px 8px 10px #d5d4d4;
	box-shadow: 8px 8px 10px #d5d4d4;
}

#page-front #main {
	-moz-box-shadow: 0 0 0 #fff;
	-webkit-box-shadow: 0 0 0 #fff;
	box-shadow: 0 0 0 #fff;
	border: 0 none;
}

#leftSide {
	width: 148px;
	margin-right: 16px;
	float: left;
}

#header {
	height: 130px;
	margin-bottom: 18px;
}

h1 {
	margin: 0;
	float: left;
	background: url(images/logo.png) no-repeat 0 0;
}

h1 a {
	width: 148px;
	height: 130px;
	display: block;
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
}

#leftCol {
	background-color: #eaedb9;
}

#leftCol .block, #rightCol .block {
	padding-bottom: 15px;
}

h2, #nav li a, #hpLinks li a span, #pageLinks li a span{	
	color: #fff;	
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.15em;
	font-family: Oswald, Arial, Helvetica, Sans-serif;
	letter-spacing: 0.05em;
}

h2 { 
	padding: 2px 6px;
	background-color: #abb037;
	font-size: 1em;
}

#leftCol .block .content {
	padding: 6px;
}

#leftCol .block .content p {
	margin: 0;
}

#leftCol .block ul li {
	margin: 0 0 4px 0;
}

#leftCol .block  ul li a {
	color: #abb037;
}

#leftCol .block  ul.links li a {
	color: #000;
}

#leftCol .pager { 
	margin-top: 12px;
	color: #ABB037;
}

#leftCol .block-simplenews p {
	display: block;
	font-size: 0.9em;
	color: #6f7062;
}

.block-simplenews .form-item { 
	margin: 0;
	padding-top: 6px;
}

.meta, 
.block-simplenews .form-item label, 
.block-simplenews .form-radios {
	display: none;
	visibility: hidden;
}

input#edit-mail {
	width: 134px;
	height: 20px;
	border: 1px solid #abb037;
}

input.form-submit {
	margin-top: 6px;
	padding: 2px 4px;
	background: #ABB037 none;
	border: 0 none;
	color: #fff;
	cursor: pointer;
}

#rightSide {
	width: 796px;
	margin-top: 45px;
	float: left;
}

#nav {
	width: 100%;
	padding: 10px 0;
	margin-bottom: 16px;
	background-color: #90a7bb;
}

#nav ul {
	overflow: hidden;
}

#nav li {
	width: 122px;
	float: left;
	text-align: center;
	border-right: 1px solid #a0b5c6;
}

#main {
	width: 630px;
	margin-right: 14px;
	border: 1px solid #c6cdd4;
	float: left;
	position: relative;
}

#contentWrap {
	padding: 20px 16px;	
	overflow: auto;
}

#page-front #contentWrap {
	border: 1px solid #c6cdd4;
}

#page-front #contentWrap p {
	margin: 0;
}

#page-front #contentWrap p.blueText { 
	width: 320px;	
	float: left;
	color: #8fa6bb;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.6em;
}

#page-front #contentWrap p object {
	float: right;
}

.content a {
	text-decoration: none;
	color: #abb037;
}

.content a:hover {
	text-decoration: underline;
}

.content .faq a {
	font-style: normal;
}

.content .faq-question a {
	text-decoration: none;
	color: #58585A;
	font-style: normal;
}

.faq-answer {
	color: #90a7bb;
}

h3 {
	margin-top: 10px;
	color: #90A7BB;
	text-transform: uppercase;
}

object {
	width: 264px;
	height: 201px;
	float: right;
	overflow: hidden;
	border: 1px solid #ABB037;
}

#hpLinks {
	margin-top: 16px;
}

#hpLinks ul {
	background-color: #acbfd0;
	overflow: hidden;
}

#hpLinks li {
	width: 126px;
	height: 174px;
	float: left;
	overflow: hidden;
	background: url(images/hpBtn-border.png) no-repeat right center;
}

#hpLinks li a {
	width: 113px;
	height: 154px;
    padding: 10px 6px;
	display: block;
	background-repeat: no-repeat;
	background-position: 0 0;
	color: #fff;
	font-style: normal;
}

#hpLinks li a:hover {
	background-position: 0 -174px;
	text-decoration: none;
}

#hpLinks li.ourApproach a {
	background-image: url(images/hpBtn-1.png);
}

#hpLinks li.howWorks a {
	background-image: url(images/hpBtn-2.png);
}

#hpLinks li.ourClients a {
	background-image: url(images/hpBtn-3.png);
}

#hpLinks li.betterBus a {
	background-image: url(images/hpBtn-4.png);
}

#hpLinks li.betterTrad a {
	background-image: url(images/hpBtn-5.png);
}

#hpLinks li.betterTrad {
	background: 0 none;
} 

#hpLinks li a span, 
#pageLinks li a span {
	font-size: 0.95em;
}

#pageLinks {
	width: 110px;
	background: url(images/pageLinks-bg.png) repeat-y 0 0;
	float: right;
}

#pageLinks li a {
	display: block;
	width: 90px;
	padding: 6px 10px;
	background: url(images/pageBtn-border.png) no-repeat center bottom;
}

#pageLinks li a:hover { 
	text-decoration: none;
}

#pageLinks li a:hover span,
#hpLinks li a:hover span  {
	text-decoration: underline;
}

#pageLinks li.ourApproach a span.image{
	background-image: url(images/pageBtn-1.png);
}

#pageLinks li.howWorks a span.image {
	background-image: url(images/pageBtn-2.png);
}

#pageLinks li.ourClients a span.image {
	background-image: url(images/pageBtn-3.png);
}

#pageLinks li.betterBus a span.image {
	background-image: url(images/pageBtn-4.png);
}

#pageLinks li.betterTrad a span.image {
	background-image: url(images/pageBtn-5.png);
}

#pageLinks li.betterTrad a {
	background: 0 none;
}

#pageLinks li a span {
	display: block;
	padding: 2px 0;
	border-bottom: 1px solid #9eb3c5;
}

#pageLinks li a:hover span.image {
	background-position: 0 -56px;
}

#pageLinks li a span.image {
	display: block;
	width: 90px;
	height: 56px;
	padding: 0; 
	border-bottom: 0 none;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#rightCol {
	width: 148px;
	float: left;
	color: #A7A9AB;
	border: 1px solid #c6cdd4;
}

#rightCol p {
	padding: 6px;
	margin: 0;
}

#rightCol a {
	color: #b7bc55;
}

p.greenText {
	color: #aca83d;
	font-size: 0.96em;
	font-weight: bold;
}

thead th, td, td.price {
	padding: 6px;
	text-align: left;
}

thead th {
	border-bottom: 2px solid #ccc;
}

tr {
	vertical-align: middle;
}

.form-item {
	margin: 16px 0;
}

.uc-price {
	margin-left: 4px;
}

form#uc-paypal-ec-form {
	margin-top: 15px;
}

.messages {
	padding: 16px;
}

#page-cart .messages pre {
	display: none;
	visibility: hidden;
}

.add-to-cart .form-item label {
	width: 200px;
	float: left;
}

.add-to-cart .form-item input {
	border: 1px solid #ABB037;
}

div#block-cr_calc-0 div.content, 
div#block-block-1 div.content img, 
div#block-block-2 div.content img {
	background-color: #ABB037;
	color: #fff;
	padding: 6px;
}

form#views-exposed-form-news-and-resources2-page-1 {
	margin-bottom: 25px;
}

select#edit-tid {
	margin-top: 4px;
}

#footer {
	width: 100%;
	height: 25px;
	line-height: 25px;
	margin-top: 35px;
	clear: both;
	float: left;
	text-align: center;
	color: #999b9d;
	font-family: Times, serif;
}













